<footer class="main-footer" style="padding-left: 0; margin-left: 0; text-align: left;">
  <strong>&copy; 2024 Designed and developed by C-DAC Thiruvananthapuram</strong>
  All rights reserved.
  <div class="float-right d-none d-sm-inline-block">
    <b>Version</b> 1.0.0
  </div>
</footer>
