  <!-- Scripts -->
  <script src="public/plugins/jquery/jquery.min.js"> </script>
  <!-- SweetAlert2 -->
  <script src="public/plugins/sweetalert2/sweetalert2.min.js"> </script>
  <!-- Toastr -->
  <script src="public/plugins/toastr/toastr.min.js"> </script>

  <script>
    

    document.getElementById("showLogin").addEventListener("click", function (event) {
    event.preventDefault();
    document.getElementById("signupForm").parentNode.parentNode.style.display = "none";
    document.getElementById("loginForm").parentNode.parentNode.style.display = "block";
  });

  document.getElementById("showSignup").addEventListener("click", function (event) {
    event.preventDefault();
    document.getElementById("loginForm").parentNode.parentNode.style.display = "none";
    document.getElementById("signupForm").parentNode.parentNode.style.display = "block";
  });

  // Initially, show only the signup form
  document.getElementById("loginForm").parentNode.parentNode.style.display = "none";

// Form validation function
function validateForm() {
  const email = document.getElementById("email").value;
  const emailPattern = /^[a-zA-Z0-9._%+-]+@(nic\.in|gov\.in|cdac\.in)$/;

  // Validate CAPTCHA response
  if (grecaptcha.getResponse() === "") {
    toastr.warning("Please complete the CAPTCHA"); // Show warning if CAPTCHA is not completed
    return false; // Prevent form submission
  }

  // Validate email format using regex
  if (!emailPattern.test(email)) {
    toastr.error("Please use an official government email id."); // Show error for invalid email
    return false; // Prevent form submission
  }

  toastr.success("OTP has been sent successfully, please check you email"); // Show success message if form is valid
  return true; // Allow form submission if everything is correct
}

// Function called when CAPTCHA is successfully completed
function onCaptchaSuccess() {
  document.getElementById("sendOtpButton").disabled = false; // Enable the OTP button
}

// Function called when CAPTCHA is expired
function onCaptchaExpired() {
  document.getElementById("sendOtpButton").disabled = true; // Disable the OTP button
}




     
  </script>


<footer class="main-footer" style="padding-left: 0; margin-left: 0; text-align: left;">
  <strong>&copy; 2024 Designed and developed by C-DAC Thiruvananthapuram</strong>
  All rights reserved.
  <div class="float-right d-none d-sm-inline-block">
    <b>Version</b> 1.0.0
  </div>
</footer>
