<footer class="sticky-footer">
    <strong>&copy; 2024 Designed and developed by C-DAC Thiruvananthapuram</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 1.0.0
    </div>
  </footer>
  

  <style>
 .sticky-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; /* Add this! */
  width: auto; /* Fix width overflow */
  /* height: 60px; */
  background-color: #f1f1f1;
  padding: 20px;
  box-sizing: border-box;
  overflow-x: hidden; /* Prevents scroll if still needed */
}


  </style>