  <!-- Scripts -->
  <script src="plugins/jquery/jquery.min.js"> </script>
  <!-- SweetAlert2 -->
  <script src="plugins/sweetalert2/sweetalert2.min.js"> </script>
  <!-- Toastr -->
  <script src="plugins/toastr/toastr.min.js"> </script>

  <script>
      document.addEventListener("DOMContentLoaded", function () {
          // Make the OTP verification form always visible
          const verifyOtpForm = document.getElementById("verifyOtpForm");
          verifyOtpForm.style.display = "block";

          // Add an event listener to display a success message after form submission
          verifyOtpForm.addEventListener("submit", function () {
              toastr.info("Verifying OTP, please wait...");
          });
      });
  </script>


  <footer class="main-footer"> <strong>Copyright &copy; 2024 Designed and developed by C-DAC Thiruvananthapuram
      </strong>
      All rights reserved.
      <div class="float-right d-none d-sm-inline-block">
          <b>Version</b> 1.0.0
      </div>
  </footer>