<!DOCTYPE html>
<html lang="en">
<head>

    <%- include("../partials/landPageHeader") %>
</head>
<body>
  <div class="container">
    <h1> <strong>      Welcome to the State Data Center        </strong></h1>
    <p>Please choose an application form:</p>

    <div class="buttons">
      <a href="/pages" class="btn">Apply for Hosting Form</a>
      <a href="/firewall" class="btn">Apply for Firewall Access Form</a>
      <a href="/vpn" class="btn">Apply for VPN Access Form</a>
    </div>
  </div>
</body>

<%- include("../partials/landPageFooter") %>

</html> 