<div style="text-align: justify;"> 
	<ol>
		<li>
			The department shall maintain technical documentation including Software
			application Architecture document. The architecture document should include
			application details such as Application Overview and functionalities, Component
			architecture diagram showing inter dependencies and any external dependencies,
			technology used, deployment architecture, deployment configurations, revision
			history of document etc. Updates to the document should be versioned as separate
			versions and maintained. The architecture document shall be shared in print
			along with the hosting request form or mailed to...............to respective
			SDC's email ids's.
		</li>
		<li>
			The application will be hosted under Staging Server for a period of ................. from the date of
			presenting the filled application form for conducting Security Audit. If the process is not completed in the
			.............., the application will be deallocated from Staging Server without prior intimation.
		</li>
		<li>
			Security auditing of the application by any CERT-In empaneled agency has to be
			carried out in the hosting environment. A copy of the security certificate shall
			be provided to the SDC. The SDC should allow hosting on production servers only
			after receiving security audit certificates (safe to host certificate) which
			needs to be maintained in records.
		</li>
		<li>
			Due to stringent security policy implemented in the server, some of the
			functionalities of the application may not work as expected. All
			functionalitiesof the web application should be validated in the staging server.
		</li>
		<li>
			JKSDC has set a maximum space limitation on Web / Application to ............
			and Db Storage limitation to ............. for all departments for VM which can
			be increased upon usage.
		</li>
		<li>
			Access to the Database server will only be given from the application server.
			The database server cannot be accessed directly from Internet.
		</li>
		<li>
			Application level security is solely under the privilege of the department. It
			is the Department/authorized vendor's responsibility to tighten the security of
			the application. By the above condition, it should be accepted that the
			department shall take the following measures:
		</li>
	<li>
		The Department shall be commited to maintaining the security of its own application.
		Application Security needs to be a significant consideration during the development
		of any software. Additionally, security patches post production also needs to be
		factored into the contract with the application development vendor.
	</li>
	<li>
		Have maintenance contract such that technical support is available at any point of
		time to address any request for enhancement, upgrades, security remediation,
		migration and testing of the application. Upgrades/patches are frequently released
		by vendors/open communities for any software (including operating Sysytem, Database,
		Application Server, Programming technology such as Java, various code frameworks and
		commercial/open source libraries and components) to address added functionalities as
		well as security vulnerabilities. It is the responsibility of the application
		support team of the department to proactively identify patches to any tecnologies/
		components used in the application and apply these after proper testing.
	</li>
<li>
	Periodic security auditing is necessary. The department shall get the sites audited
	once every 2 years by a CERT-IN empaneled agency. If an application is developed in
	an agile manner such that enhancements to the application are rolled out frequently,
	the department is required to have Security Audites done by a CERT-In empaneled
	agency once every 6 months.
</li>
	<li>
		<strong> <i>Once audited and hosted, the Department / Technical Lead shall raise a Change
			Request (CR) and submit the CR form to SDC if any subsequent change is to be
			made on the application including any configuration change or patch application.
		</i>
	</strong>
</li>
<li>
	Updated Software Application Architecture Document also needs to be submitted. The
	Change Advisory Board shall verify the technical changes and evaluate if a
	subsequent security audit is required before the changes are deployed on the
	production server.
</li>
	<li>
		If any change to the application is depolyed without intimation to the SDC, the
		CEO jaKeGa reserves the right to de-allocate domain name and pull down the
		website.
	</li>
	<li>
		As per the Data Center policy, there is a limit for maximum resource allocation
		of servers, and we can able to increase the same based on the utilization and
		requirements.
	</li>
	<li>
		Customer should not change or customize any IP / network configuration without
		informing Data center team.
	</li>
	<li>
		While performing the hardening process, kindly exclude all cloud and monitoring
		services running in the server. These cloud services must be required for the
		communication between the VM and Cloud Management Portal.
	</li>
	<li>
		As per the security policy, it is mandatory that all the Cloud applications
		should undergo Security Audit by authorized agencies and present audit clearance
		certificate to SDC before going live.
	</li>
	<li>
		Customer need to provide additional request for configuring backup for the
		server if required.
	</li>
	<li>
		Data center team will not be responsible for any application related
		configuration or troubleshooting process.
	</li>
	<li>
		Upon identificaton of any security compromise from the application, SDC/JaKeGA
		will have the complete right to block the application.In order to regain access
		to the application software, the department will have to get the application
		re-audited before going online again.
	</li>
	<li>
		CEO JaKeGA is authorised to order de-allocation of the domain name and pull down
		Government web sites if security level of the site is found to be insufficient
		at any point of time.
	</li>
	<li>
		The department is required to submit any application logs and dumps that are
		required by CERT-In for any analysis.
	</li>
	<li>
		Contents of the websites/applications shall not be against the interest and
		reputation of Government of Jammu and Kashmir.
	</li>
	<li>
		As per of application level security, it is mandatory that the Department
		ensures a strict password policy. If any hacking occurs due to vulnerability
		present in the application, the Department will be held responsible for
		compromising the security of the server.
	</li>

	<li>
		The expense required for any technology upgrade for the purpose of hosting at
		SDC shall be met by the Department concered.
	</li>
	<li>
		JKSDC has the rights to either suspend or terminate the website or move the
		website to anotrher server without any notice if the website is found to cause
		huge load on the server and thus interrupting the normal functioning of the
		server or other websites.
	</li>
	<li>
		Any change in Techincal Represenatatives must be intimated to JKSDC. Prior
		approval of JKSDC must be taken for any kind of planned activities like VAPT of
		the application.
	</li>
	<li>
		JKSDC has the rights to decommision the unutilised VM's for a period of 4
		Months.
	</li>
<li>
	<strong>
		NOTWITHSTANDING, BY USING THE SERVICES YOU ACKNOWLEDGE THAT YOU HAVE READ THIS
		AGREEMENT AND AGREE TO BE BOUND BY THE TERMS AND CONDITIONS CONTAINED HEREIN
		INCORPORATED BY REFERENCE.
	</strong>
</li>
<br/>
<br/>
<br/>
<br/>
<br/>
	<div>
		<strong>Signature of technical lead with seal</strong>
	</div>
	<br><br><br><br><br><br>
	<div>
		<strong>Signature & Seal of Approving Authority</strong>
	</div>
	<br><br><br><br><br><br>
	<div>
		<strong>Date:</strong>
	</ol>
	</div>




</div>
		
		
		
		
		
		
		
		
		
		
		
		
		
	
	
	
	
	
