<div style="text-align: justify;"> 
    <div>
        I hereby declare that
        <ol>
          <li>The information provided is correct to the best of my knowledge.</li>
          <li>I am responsible for the safety of Username and Password issued for accessing VPN Services.</li>
          <li>I undertake to surrender the VPN account on transfer/leaving the division and initiate the DCO accordingly.</li>
          <li>The VPN account issued will be used only for accessing the SDC VPN Service as per the list provided in 1.3</li>
          <li>I will not indulge in any un-authorised acitivity or attempt to gain unauthorised access to other SDC Websites and facilities.</li>
          <li>I am responsible for the content/data uploaded to the servers through VPN connection</li>
        </ol>
        I have read the terms and conditions of J&K SDC VPN Services and will comply with. If at a later stage any information is found to be incorrect or non-compliant with the terms and conditions, it will result in the cancellation of the VPN account issued by SDC VPN service.
      </div> <br>
    
      <div> <br> 
        <strong> Signature of technical lead with seal: </strong>
      </div> 
      <div> <br>
        <strong> Signature & Seal of Approving Authority: </strong>
      </div>
      <div> <br>
       <strong> Date: </strong> 
      </div>




</div>
		
		
		
		
		
		
		
		
		
		
		
		
		
	
	
	
	
	
